doctype html
html
  head
    title User Details
  body
    h1 User Details
    table
      thead
        tr
          th User ID
          th Name
          th City
          th Street
          th Age
          th Gender
          th Fitness Level
      tbody
        tr
          td= users_id
          td= users_name
          td= users_city
          td= users_street
          td= users_age
          td= users_gender
          td= users_fitness_level
