extends layout
block content
  .single-runner 
    h2(style="color: white;") Single Runner 
    body(style="background-color: #48D1CC;")
    p(style="color: white;") USER DETAILS -
    p(style="color: white;") Name: #{users.user_name}
    p(style="color: white;") City Location: #{users.user_city}
    p(style="color: white;") Street Location: #{users.user_street}
    p(style="color: white;") Age: #{users.user_age}
    p(style="color: white;") Gender: #{users.user_gender}
    p(style="color: white;") Fitness Level: #{users.user_FitnessLevel}

