extends layout
block content
    h1 User Page for: #{users.user_name}
    p Users ID: #{users.user_ID}
    p Users Gender: #{users.user_gender}
    p Users Age: #{users.user_age}
    p Users City: #{users.user_city}
    p Users Street: #{users.user_street}
    p Users Fitness Level: #{users.user_FitnessLevel}